#mainContainer{
    background-color: aqua;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(16, auto);
    grid-template-rows: minmax(120px, auto) repeat(16, 100px);
    padding: 0px;
    margin: 0px;

}

.squares{
    background-color: azure;
}



