#mainContainer {
    display: grid;
    grid-template-columns: repeat(16, 5vh);
    grid-template-rows: repeat(16, 5vh);
    max-width: 85vh; 
    max-height: 85vh; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    border: 2vh solid black;
    padding: .5vh;
    margin: .5vh;
    overflow: hidden; 
  }
  
  div {
    background: red;
    width: 100%; 
    height: 100%;
    box-sizing: border-box; 
  }
  