#header{
  text-align: center;
  font-size: 6vh;
  color: rgb(0, 0, 0);
  font-weight: 700;
  padding-bottom: 1.5vh;
  background: linear-gradient(to right, #565656, #d0d0d0);

}


#controlButtons{
  text-align: center;
  padding: .5vh;
  z-index: 2;
}
#controlButtons button{
    text-align: center;
    justify-content: space-between;
    background-color: rgb(222, 222, 222);
    width: 12vh;
    height: 3.5vh;
    font-size: 2vh;
    font-weight: bold;
    margin: 2vh;
    box-shadow: 10px 5px 5px black;
    z-index: 2;
}

#board {
    display: grid;
    max-width: 600px; 
    max-height: 600px; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    border: .5vh solid rgb(0, 0, 0);
    overflow: hidden; 
    padding: 0;
    margin-top: 3vh;
    box-sizing: border-box; 
    box-shadow: 10px 5px 5px black;
    z-index: 1;
  }
  
  
  div {
    width: 100%; 
    height: 100%;
    box-sizing: border-box; 
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    max-width: 120px;
    max-height: 173px;
    border: 2px solid black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    float: center;
    right: 50%;
  }
  
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  
  .dropdown-content a:hover {background-color: #b0deff;}
  
  
  .show {display:block;}

  @media screen and (max-width: 768px) {
    #header {
      font-size: 4vh;
    }
  
    #controlButtons button {
      font-size: 2vh;
      margin: 1vh 0.5vh;
      box-shadow: 3px 1.5px 1.5px black;
    }
  
    #board {
      width: 90vw;
      height: 90vw;
      border: 5vw solid rgb(255, 0, 0);
      border-top: 10vw solid rgb(255, 0, 0);
    }
  
    .dropdown-content {
      width: 60vw;
      max-width: 120px;
      padding: 2vw 3vw;
    }

  }
  